 <main class="TodoPageMain">
  <h1 class="TodoPage-title">My To-do List</h1>
  <%= form_with(url: "/todos" ,methods: "post", class: "AddTodo" ) do %>
    <%= text_field_tag(:todo_text, nil, placeholder: "What's next?", class: "AddTodo-text", :required => true) %>
    <%= date_field_tag(:due_date, nil, class: "AddTodo-date", :required => true)%>
    <%= submit_tag("Add", class: "AddTodo-button") %>
  <% end %>
  <%= render partial: "todo-section",
    locals:{
      section_title: "Overdue",
      todos: Todo.overdue,
      show_due_date: true
        } %>
  <%= render partial: "todo-section",
    locals:{
      section_title: "Due Today",
      todos: Todo.due_today,
      show_due_date: false
    } %>
  <%= render partial: "todo-section",
    locals:{
      section_title: "Due later",
      todos: Todo.due_later,
      show_due_date: true
    } %>
</main>
